<div class="row">
  <div class="margin-top-35" *ngIf="articles && articles.length">
    <div class="dynamic-item col-md-4 col-sm-6  col-xs-12 margin-bottom-35"
         *ngFor="let article of articles">
      <a *ngIf="article.fields.thumbnail && article.fields.url" [routerLink]="[article.fields.url]"
         angulartics2On="click"
         angularticsEvent="{{article.fields.title}}"
         class="dynamic-wrap-img" [gmContentfulSrcId]="article.fields.thumbnail.sys.id">
        <!--<span class="play"><i class="fa fa-play"></i></span>-->
      </a>
      <div class="date-info">{{article.fields.createdAt | gmToDate | date}}</div>

      <a *ngIf="article.fields.url" [routerLink]="[article.fields.url]"
         angulartics2On="click"
         angularticsEvent="{{article.fields.title}}"
         class="post-title">
        {{article.fields.title}}
      </a>
      <p class="post-p">{{article.fields.description}}</p>

    </div>
  </div>
</div>
