<div class="row">
  <div class="margin-top-35" *ngIf="taggedContent && taggedContent.length">
    <div class="dynamic-item col-md-4 col-sm-6  col-xs-12 margin-bottom-35"
         *ngFor="let taggedContentItem of taggedContent">
      <a *ngIf="taggedContentItem.thumbnail && taggedContentItem.url" [routerLink]="[taggedContentItem.url]" [queryParams]="{}"
         angulartics2On="click"
         angularticsEvent="{{taggedContentItem.title}}"
         class="dynamic-wrap-img" [height]="300" [gmContentfulSrcId]="taggedContentItem.thumbnail">
        <!--<span class="play"><i class="fa fa-play"></i></span>-->
      </a>
      <div class="date-info">{{taggedContentItem.createdAt | gmToDate | date}}</div>

      <a *ngIf="taggedContentItem.url" [routerLink]="[taggedContentItem.url]" [queryParams]="{}"
         angulartics2On="click"
         angularticsEvent="{{taggedContentItem.title}}"
         class="post-title">
        {{taggedContentItem.title}}
      </a>
      <p class="post-p">{{taggedContentItem.description}}</p>
    </div>
  </div>
</div>
