.wrap-tags
  .tag
    font-size 18px
    color: #767d86
    float left
    line-height 20px
    margin-right 10px
    padding 0

.list-tags
  padding 0
  list-style none
  float left
  width 85%
  li
    border 1px solid #eff2f6
    border-radius 12px
    margin-right 5px
    padding 0 20px
    float left
    position relative
    &:before
      content "• "
      position absolute
      top -8px
      left 5px
      color #b04514
      font-size 25px
    a
      font-size 15px
      color #394753
      line-height 20px

.dynamic-item
  float none
  display inline-block
  vertical-align top

.dynamic-wrap-img
  border-radius 3px
  overflow hidden
  border 1px solid #dce3ec
  position relative
  display block
  img
    height 240px
    width 100%
  .play
    width 50px
    height 50px
    opacity 0.7
    border-radius 50%
    border 1px solid #374551
    position absolute
    top 40%
    left 43%
    z-index 2
    background #f2fafc
    .fa-play
      color #374551
      font-size 24px
      top 12px
      left 17px
      position absolute
  &:hover
    .post-title
      color #ffc300
    .play
      opacity 1
