img
  max-width 100%

.block-entry
  margin 0 -50px
  padding 20px 50px
  background-repeat no-repeat
  background-size cover

  h2
    font-size 28px
  a
    color #b04514
    text-decoration underline
