.blog-item
  &:hover
    .post-title
      color #767d86
      text-decoration none
.btn-yellow
  display inline-block
  &:hover
    color color-dark
.post-wrap-img
    border-radius 3px
    overflow hidden
    border 1px solid #dce3ec
    display block
    padding-top 66.66%
    width 100%
    background-position 50% 50%
    background-size cover


  @media medium
    display inline-block
    float none
    vertical-align top
    margin-bottom 15px
  @media small
    margin-bottom 15px
