/aws.json
#webstorm
.idea
#node.js
node_modules
npm-debug.log

# builded files
dist
build

# ts generated
demo/**/*.js
demo/**/*.js.map

#ts typings
typings

# ignore incline compiling
/demo/**/*.css
/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts
/components/**/*.css
/components/**/*.js
/components/**/*.js.map
/components/**/*.d.ts
index.js
index.d.ts
index.js.map
/logs
