.idea/
build/
demo/
typings/
logs

#stylus
**/*.styl

webpack.config.js

*.ts
*.js.map
!*.d.ts

components/**/*.ts
!components/**/*.d.ts
!components/**/*.js.map

!components/**/*.css
!components/**/*.js
!index.js
