h3
  font-size 38px

.indent
  margin-right 70px
.wrap-menu
  flex-wrap wrap
  display flex
  flex-direction row

.menu-footer
  margin-top 10px
  &.social
    a
      text-transform capitalize;
      &:hover
        text-decoration none
    i
      font-size 18px
  a
    font-family 'Bariol Light', sans-serif
    font-size 16px
    color #edf0f5
    line-height 24px

  .head-submenu
    font-family 'Bariol Regular', sans-serif
    font-size 16px
    line-height 24px
    color #edf0f5
    text-transform uppercase
    margin 0 70px 0 0
