<div class="wrap-menu">
  <ul class="menu-footer indent">
    <li *ngFor="let menu of menus">
      <a *ngIf="menu.entryPoint && !menu.submenus"
         [routerLink]="[routesManager.getRouteName(menu.entryPoint.fields.slug)]"
         angulartics2On="click"
         angularticsEvent="{{menu.title}}">
        {{menu.title}}
      </a>
    </li>
  </ul>
  <div *ngFor="let menu of menus">
    <div class="menu-footer" *ngIf="(menu.submenus && menu.entryPoint) || menu.submenus">
      <p class="head-submenu">
        {{ menu.title }}
      </p>
      <ul class="indent" *ngIf="menu.submenus">
        <li *ngFor="let submenu of menu.submenus">
          <a [routerLink]="[routesManager.getRouteName(submenu.fields.entryPoint.fields.slug)]"
             angulartics2On="click"
             angularticsEvent="{{submenu.fields.title}}">
            {{submenu.fields.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ul *ngIf="socials && socials.length" class="menu-footer social">
    <li class="head-submenu">Follow Us</li>
    <li *ngFor="let social of socials">
      <a href="{{social.link}}" target="_blank">
        <i *ngIf="social.iconCssClass != 'googlePlus'" class="fa fa-{{social.iconCssClass}}-square" aria-hidden="true"></i>
        <i *ngIf="social.iconCssClass === 'googlePlus'" class="fa fa-google-plus-square" aria-hidden="true"></i>
        {{social.iconCssClass}}
      </a>
    </li>
  </ul>

</div>
