.block-subscribe
  background #f3fafc
  padding 45px 0

form
  margin-top 35px
  .text
    width 100%
  p
    font-size 20px
    color #767d86
    font-family 'Bariol Light', sans-serif

.wrap-row-subscribe
  position relative
  padding-right 175px

.btn-yellow
  position absolute
  top 0
  right 0

h3
  font-size 38px

footer
  background-color #303e4a
  padding 45px 0

footer a
  color #edf0f5

.menu-footer
  margin-top 10px
  li
    float left
    padding 0 6px
  a
    font-size 18px

.menu-footer-small
  li
    float left
    margin-right 10px
    margin-top 7px
  a
    font-size 16px

.social
  margin-top 10px
  li
    float left
    margin-left 20px
  a
    font-size 20px
