.profile
  .user-name
    font-size 34px
    color #374551
  p
    font-size 18px

  .head
    font-size 24px
    color #374551

.social-info
  display inline-block
  width 100%
  li
    float left
    margin-right 10px

  a
    font-size 24px
  .fa-envelope-square
    color #ffc300
  .fa-google-plus-square
    color #F44336
  .fa-facebook-square
    color #3b5998
  .fa-linkedin-square
    color #0077B5
  .fa-twitter-square
    color #55acee
//border 1px solid #dce3ec;
