<div *ngIf="menus ">
  <div class="navbar-header hidden-md-up">
    <div class="navbar-toggle navbar-toggler pull-right menu-mobile" (click)="isCollapsed = !isCollapsed"
         [ngClass]="isCollapsed ? 'open' : '' ">
      <div class="icon"></div>
    </div>
  </div>


  <nav class="visible-xs hidden-md-up">
    <ul class="nav nav-pills  nav-stacked scrollable-menu" [collapse]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed; true">
      <li dropdown *ngFor="let menu of menus">
        <a *ngIf="menu.entryPoint && !menu.submenus"
           [routerLink]="[routesManager.getRouteName(menu.entryPoint.fields.slug)]"
           angulartics2On="click"
           angularticsEvent="{{menu.title}}">
          {{menu.title}}
        </a>
        <a *ngIf="(menu.submenus && menu.entryPoint) || menu.submenus" dropdownToggle>
          {{ menu.title }}
        </a>
        <ul class="dropdown-menu mobile" role="menu" aria-labelledby="simple-dropdown"
            *ngIf="menu.submenus">
          <li *ngFor="let submenu of menu.submenus">
            <a [routerLink]="[routesManager.getRouteName(submenu.fields.entryPoint.fields.slug)]"
               angulartics2On="click"
               angularticsEvent="{{submenu.fields.title}}"
               class="dropdown-item">
              <img
                *ngIf="submenu.fields.thumbnail"
                [gmContentfulSrcId]="submenu.fields.thumbnail.sys.id"
                class="frame-img">
              {{submenu.fields.title}}
            </a>
          </li>

        </ul>
      </li>
    </ul>
  </nav>


  <nav class="hidden-xs hidden-xs-down">
    <ul class="nav navbar-nav">
      <li *ngFor="let menu of menus">
        <a *ngIf="menu.entryPoint && !menu.submenus"
           [routerLink]="[routesManager.getRouteName(menu.entryPoint.fields.slug)]"
           routerLinkActive="active"
           angulartics2On="click"
           angularticsEvent="{{menu.title}}">
          {{menu.title}}
        </a>
        <div routerLinkActive="active">
          <a class="submenu" *ngIf="(menu.submenus && menu.entryPoint) || menu.submenus">
            {{ menu.title }}
          </a>
          <ul class="dropdown-menu diff" role="menu"
              *ngIf="menu.submenus">
            <li *ngFor="let submenu of menu.submenus">
              <a [routerLink]="[routesManager.getRouteName(submenu.fields.entryPoint.fields.slug)]"
                 angulartics2On="click"
                 angularticsEvent="{{submenu.fields.title}}"
                 class="dropdown-item">
                <img
                  *ngIf="submenu.fields.thumbnail"
                  [gmContentfulSrcId]="submenu.fields.thumbnail.sys.id"
                  class="frame-img">
                {{submenu.fields.title}}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </nav>

</div>

