.title
  font-size 22px
  font-family 'Bariol Light', sans-serif
  margin 0 0 20px
  color #374551
  text-transform uppercase

.contributors
  margin-bottom 20px
  display inline-block
  li
    float left
  a
    width 37px
    height 37px
    float left
    margin 3px
    box-shadow: 0 0 1px #edf0f5;
    border-radius 50%;
    overflow hidden;
    background-size cover
    background-position center
    background-repeat no-repeat

