.info
  font-size 22px
  margin 0
  float left
  color #374551
  line-height 40px

.contributors
  li
    float left
  a
    width 37px
    height 37px
    float left
    margin 3px
    box-shadow: 0 0 1px #edf0f5;
    border-radius 50%;
    overflow hidden;
    background-size cover
    background-position center
    background-repeat no-repeat

