<div class="row">
  <div class="dynamic-details" *ngIf="content"
       [ngClass]="{'col-md-12': cssClassBigColumn, 'col-md-8': cssClassSmallColumn}">
    <h1 *ngIf="!content.entries">{{ content.title }}</h1>

    <div [ngClass]="{'col-md-2': cssClassBigColumn}"></div>
    <div class="padding-0"
         [ngClass]="{'col-md-8': cssClassBigColumn}">
      <h1 *ngIf="content.entries">{{ content.title }}</h1>
      <p class="small-description" *ngIf="content.description">{{ content.description}}</p>
      <p *ngIf="content.createdAt" class="date-info margin-top-0">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ content.createdAt | gmToDate | date }}
      </p>
      <div class="entry-content" *ngIf="content.entries">
        <gm-entries-view [entries]="content.entries"></gm-entries-view>
      </div>

      <!-- TAGS -->
      <div class="row">
        <div class="col-md-12">
          <gm-tags *ngIf="content.tags" [tags]="content.tags"></gm-tags>
        </div>
      </div>
    </div>

    <div class="dynamic-list row">

      <div class="dynamic-item col-sm-6 margin-bottom-35" *ngFor="let child of children"
           [ngClass]="{'col-md-4': cssClassBigColumn, 'col-md-6': cssClassSmallColumn}">

        <a *ngIf="child.fields.thumbnail"
           [routerLink]="[routesManager.getRouteName(urlPath + '/'+ child.fields.slug)]"
           angulartics2On="click"
           angularticsEvent="{{child.fields.title}}"
           class="dynamic-wrap-img">
          <!--<span class="play"><i class="fa fa-play"></i></span>-->
          <img [gmContentfulSrcId]="child.fields.thumbnail.sys.id"
               alt="{{child.fields.title}}">
        </a>
        <div class="date-info">{{child.fields.createdAt | gmToDate | date}}</div>

        <a [routerLink]="[routesManager.getRouteName(urlPath + '/'+ child.fields.slug)]"
           angulartics2On="click"
           angularticsEvent="{{child.fields.title}}"
           class="post-title">
          {{child.fields.title}}
        </a>
        <p class="post-p">{{child.fields.description}}</p>
      </div>


    </div>

  </div>
  <div class="col-md-4 pull-right margin-top-35" *ngIf="content">
    <gm-related [relatedItems]="content.related" *ngIf="!content.relatedLocation"
                [relatedLocation]="content.relatedLocation"></gm-related>
    <gm-contributors [profiles]="profiles"></gm-contributors>
  </div>

  <div class="col-md-12 margin-top-35" *ngIf="content">
    <gm-related [relatedItems]="content.related" *ngIf="content.relatedLocation"
                [relatedLocation]="content.relatedLocation"></gm-related>
  </div>
</div>
