footer
  background-color #303e4a
  padding 45px 0 70px


.wrap-head
  display flex

  a
    margin-right 30px
    flex 1 0 auto
    font-family 'Bariol Light', sans-serif

  p
    font-size 16px
    line-height 18px
    color #edf0f5
    font-family 'Bariol Light', sans-serif

  @media screen and (max-width: 768px)
    display block
    text-align center
    img
      margin 0 0 20px
      display inline-block
    p
      width 100%

.menu-footer
  margin-top 10px
  float left
  &.social
    a
      text-transform capitalize;
      &:hover
        text-decoration none
    i
      font-size 18px
  a
    font-family 'Bariol Light', sans-serif
    font-size 16px
    color #edf0f5
    line-height 24px

  .head-submenu
    font-family 'Bariol Regular', sans-serif
    font-size 16px
    line-height 24px
    color #edf0f5
    text-transform uppercase
    margin 0 70px 0 0
  i
    margin-right 10px
