html,
body
  height 100%

body
  background-color #fff
  font-family 'Bariol Regular', sans-serif
  color #231f20
  margin 0

a,
avisited
  color inherit
  text-decoration none
  &:hover
    color #ffc300

h1
  font-size 50px
  line-height 60px

h2
  font-size 31px

h3
  font-size 30px
  line-height 1.1

h4
  font-size 22px

h5
  font-size 18px

h1, h2, h3, h4, h5, h6
  font-family 'Bariol Regular', Helvetica, Arial, sans-serif
  color #374551

.clearfix:after
  content ""
  display table
  clear both

img
  max-width 100%

input
  font-family 'Bariol Light', sans-serif

p
  font-size 18px
  color #767d86

ul
  list-style none
  margin 0
  padding 0

.entry-content
  margin-bottom 25px

  p
    font-size 20px
    line-height 30px
    margin 20px 0
    display inline-block
    width 100%

  a

    &:hover
      text-decoration underline

.page-wrap
  margin-bottom 51px
 /* min-height 100%
  margin-bottom -340px
  @media medium
    margin-bottom -380px
  @media small
    margin-bottom -480px

  &:after
    content ""
    display block

#footer,
.page-wrap:after
  height 340px
  @media medium
    height 380px
  @media small
    height 480px

*/
.text-center
  text-align center

.date-info
  font-size 14px
  color #767d86
  text-transform uppercase
  margin-top 10px

.post-title
  color #374551
  font-size 24px
  line-height 30px

.post-p
  font-size 16px
  color #767d86

.post-head
  position relative
  color #374551
  font-size 38px
  line-height 1.2
  z-index 1
  overflow hidden
  margin 60px 0 40px
  &:after
    content ''
    display inline-block
    width 100%
    height 1px
    background #eff2f6
    z-index -1
    position relative
    vertical-align middle
    left 20px
    margin 0 -100% 0 0

.link-view-more
  color #374551
  font-size 18px
  display inline-block
  text-decoration underline

/* btn */
.btn-yellow
  color #374551
  font-size 18px
  line-height 40px
  font-family 'Bariol Bold', sans-serif
  background-color #ffc300
  border 1px solid #f1b902
  border-radius 2px
  padding 0 10px
  text-align center
  min-width 160px

/* form input (text or search) */
.text
  background-color #fff
  border-radius 2px
  border 1px solid #edf0f5
  font-size 18px
  line-height 20px
  padding 10px 15px

/* indent */
.margin-top-0
  margin-top 0

.margin-top-15
  margin-top 15px

.margin-top-50
  margin-top 50px

.margin-top-35
  margin-top 35px

.margin-bottom-35
  margin-bottom 35px

// header

header
  min-height 67px

  .navbar-fixed-top
    background #fff


.footer
  background-color #303e4a
  padding 45px 0
