<p class="title">Share:</p>
<ul class="share">
  <li><a href="{{twitter}}" target="_blank">
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
  </a></li>
  <li><a href="{{facebook}}" target="_blank">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </a></li>
  <li><a href="{{linkedin}}" target="_blank">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
  </a></li>
  <li><a href="{{googlePlus}}" target="_blank">
    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
  </a></li>
</ul>

