.breadcrumbs
  font-size 15px
  color #767d86
  margin-top 15px
  list-style none
  padding 0

  li
    float left
    margin-right 5px

    i
      margin-right 5px
      font-size 14px
      line-height 18px
