.breadcrumbs
  font-size 18px
  color #767d86
  margin-top 15px
  list-style none
  padding 0

  li
    float left
    margin-right 10px

    i
      margin-right 10px
      font-size 14px
      line-height 18px
