<div [ngClass]="{'related': relatedLocation, 'sidebar': !relatedLocation}" *ngIf="relatedItems">
  <h3 class="title" *ngIf="!relatedLocation">Related</h3>
  <h2 class="post-head margin-top-0" *ngIf="relatedLocation">Related</h2>
  <div class="row">
    <ul class="list-proposals">
      <li *ngFor="let item of related"
          class="col-xs-12 col-sm-6"
          [ngClass]="{'col-md-4': relatedLocation, 'col-md-6': !relatedLocation}">
        <a *ngIf="item.fields.url && item.fields.thumbnail" [routerLink]="[routesManager.getRouteName(item.fields.url)]"
           angulartics2On="click"
           angularticsEvent="{{item.fields.title}}" class="wrap-img"
           [height]="getThumbnailHeight()" [gmContentfulSrcId]="item.fields.thumbnail.sys.id">
        </a>
        <div *ngIf="relatedLocation" class="date-info">{{item.fields.createdAt | gmToDate | date}}</div>
        <a *ngIf="item.fields.url" [routerLink]="[routesManager.getRouteName(item.fields.url)]"
           class="post-title"
           angulartics2On="click"
           angularticsEvent="{{item.fields.title}}">{{item.fields.title}}</a>
        <p *ngIf="relatedLocation" class="post-p">{{item.fields.description}}</p>
      </li>
    </ul>
  </div>
</div>
