hr
  border-top 1px solid #edf0f5
  border-bottom 1px solid #f1f3f7
  margin 0


.post-title
  font-size 18px
  line-height 22px

.wrap-img
  border 1px solid #e2e6ec
  border-radius 2px
  display block
  overflow hidden
  text-align center
  margin-bottom 10px

.sidebar
  margin-bottom 20px
  @media screen and (min-width: 992px)
    .post-p,
    hr
      display none
    .title
      margin 0
    .post-title
      font-size 16px

  .wrap-img
    padding-top 66.66%
    background-size cover
    background-position 50% 50%;

  li
    &:nth-child(n)
      padding-right 0
    @media screen and (max-width: 992px)
      &:nth-child(n)
        padding-right 15px


.related
  .wrap-img
    padding-top 66.66%
    background-size cover
    background-position 50% 50%;

.title
  font-size 22px
  font-family 'Bariol Light', sans-serif
  margin 40px 0 10px
  color #374551
  text-transform uppercase

p
  font-size 16px
  line-height 20px
  margin 15px 0 0
  display inline-block
  width 100%

.note
  font-family  'Bariol Regular Italic', Arial

.list-proposals
  display inline-block
  width 100%

  li
    margin 10px 0
    display inline-block
    vertical-align top
    float none

.text
  padding-top 5px
  padding-bottom 5px
  font-size 16px

.post-p
  margin-top 10px
  font-size 14px
  a
    color #b04514
    line-height 20px

@media screen and (max-width: 992px)
  .post-title
    font-size 24px
    line-height 30px
  .post-p
    font-size 16px
