
.wrap-img
  border 1px solid #e2e6ec
  border-radius 2px
  display block
  overflow hidden
  text-align center
  margin-bottom 10px

.sidebar
  background #f3fafc
  padding 20px
  margin-bottom 20px

  .wrap-img
    height 100px
    background-size cover
    background-position 50% 50%;
    //@media screen and (max-width: 768px)
    //    height auto

  li
    &:nth-child(2n)
      padding-left 0
    @media screen and (max-width: 768px)
      &:nth-child(2n)
        padding-left 15px
    a
      font-size 16px
      line-height 20px


.related
  .wrap-img
    padding-top 66.66%
    background-size cover
    background-position 50% 50%;

.title
  font-size 28px
  margin 0

p
  font-size 16px
  line-height 20px
  margin 15px 0 0
  display inline-block
  width 100%

.note
  font-family  'Bariol Regular Italic', Arial

.list-proposals
  display inline-block
  width 100%

  li
    margin 10px 0
    display inline-block
    vertical-align top
    float none

.text
  padding-top 5px
  padding-bottom 5px
  font-size 16px

.post-p
  margin-top 10px
  a
    color #b04514
    font-size 16px
    line-height 20px
